body#bodyId{
  background-color: black;
  color: white;
  margin: 0px;
  width: 100%;
  height: 100%;
}

header{
  height: 20%;
  width: auto;
}

img#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr#secondLine{
  display:hidden;
  visibility: hidden;
}

a#logoLink{
  position: relative;
  float: right;
  position:static;
}

li{
  display: inline;
  margin-right: 10px;
  list-style-type: none;
  font-size: 120%;
  font-family: sans-serif;
  letter-spacing: .05em;
  word-spacing: 1.5em;
}

div#linkSection{
  width: 95%;
  text-align: center;
  position: absolute;
  top: 3.5%;
}

a:link{
  color: white;
  text-decoration: none;
}

a:hover{
  font-size: 120%;
  box-decoration-break: slice;
}
a:visited{
  color: white;
}

div.introduction{
  position: absolute;
  top: 80%;
  left: 2%;
}

h2#intro{
  text-decoration: underline;
  font-style: italic;
}

p#introPart{
  max-width: 100%;
  text: justify;
  letter-spacing: 0.04em;
}

span#equalWidth{
   float: left;
	 width: 160px;
	 text-align: right;
	 padding-right: 10px;
}

input#rightFloat{
  margin: 10px;
  position: relative;
  float: right;
}

#frameContainer{
  position: absolute;
  top: 20%;
  left: 66%;
  width: 31%;
  height: %;
}

iframe#loginPageFrame{
/*  border: 1.0px solid white;*/
  width: 100%;
  border-style:groove;
  border-radius: 10px;
  margin-left:5% !important;
  margin-right: 5% !important;
  overflow: auto;
}


{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
 text-align: left;
 width: 66.8%;
 position: absolute;
 top: 20%;
}

.mySlides {
   display:none;
   max-height: 600px;
}

/* Next & previous buttons */
.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 50%;
 width: auto;
 margin-top: -22px;
 padding: 16px;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
 color: black;
 font-size: 15px;
 font-weight: bold;
 padding: 8px 12px;
 position: absolute;
 bottom: 8px;
 width: 100%;
 text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
 color: #f2f2f2;
 font-size: 12px;
 padding: 8px 12px;
 position: absolute;
 top: 0;
}

/* The dots/bullets/indicators */
.dot {
 cursor:pointer;
 height: 13px;
 width: 13px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.6s ease;
}

.active, .dot:hover {
 background-color: #717171;
}

.dotPosition{
  position: absolute;
  top: 75% ;
  left: 32.3%;
}

/* Fading animation */
.fade {
 -webkit-animation-name: fade;
 -webkit-animation-duration: 1.5s;
 animation-name: fade;
 animation-duration: 1.5s;
}

@-webkit-keyframes fade {
 from {opacity: .4}
 to {opacity: 1}
}

@keyframes fade {
 from {opacity: .4}
 to {opacity: 1}
}

a#forgotPassword{
  position: absolute;
  left: 15%;
  top: 40%;
}

/*Styling for the about us section*/

#about{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 105%;
}

h2#aboutUs{
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 15px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

p#messageAboutUs{
  font-size: 140%;
}

div#imageSectionInAboutUs{
  width: 100%;
  display: inline;
}

#image1,#image2,#image3,#image4{
  width: 100%;
  margin: 1%;
  margin-bottom: 3%;
}

#aboutUsMemberMessage{
  max-width: 7%;
  text-align: center;
}

#widthOfImage{
    width: 300%;
    align: left;
}
